
/* #Global
================================================== */
body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  max-width: 100%;
  color: white;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #082a0f;
}

body.no-scroll {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

/* #Utilities
================================================== */
.container {
  margin: 0 auto;
}

.d-desktop {
  display: block;
}

.d-mobile {
  display: none;
}

.m-0 {
  margin: 0!important;
}

.my-0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.mr-auto {
  margin-right: auto!important;
}

.p-0 {
  padding: 0!important;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.text-shadow {
  text-shadow: 2px 4px 12px rgba(0, 0, 0, 1);
}

@media (max-width: 1023.98px) {
  .d-desktop {
    display: none;
  }

  .d-mobile {
    display: block;
  }

  .d-none-mobile {
    display: none !important;
  }

  .text-shadow {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, .7);
  }
}

/* #Btn
================================================== */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-image: url('../img/btn.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 4.16vw;
  padding: 0 1vw;
  font-size: 1.5vw;
  font-weight: 700;
}

.btn.btn-lg {

}

@media (max-width: 1023.98px) {
  .btn {
    height: 13.5vw;
    padding: 0 7vw;
    font-size: 4.5vw;
  }
}

/* #Checkbox
================================================== */
.checkbox {
  display: flex;
  align-items: flex-start;
}

.checkbox input {
  width: 1.35vw;
  height: 1.35vw;
  cursor: pointer;
  appearance: none;
  border-radius: 10px;
  background-color: #71d650;
  flex: 0 0 1.35vw;
  margin-top: .1vw;
}

.checkbox input:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none' %3E %3Cpath stroke='%23ffffff' d='M1 6L4 9L11 1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' %3E %3C/path%3E %3C/svg%3E");
  background-size: .7vw .7vw;
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox label {
  padding-right: .5vw;
  text-align: right;
}

@media (max-width: 1023.98px) {
  .checkbox input {
    width: 3.4vw;
    height: 3.4vw;
    flex: 0 0 3.4vw;
    border-radius: 5px;
    margin-top: 1vw;
  }
  
  .checkbox input:checked {
    background-size: 2.2vw 2.2vw;
  }
  
  .checkbox label {
    padding-right: 2vw;
  }
}

/* #Bg Img
================================================== */
.bg-img,
.bg-img img {
  width: 100%;
}

/* #Header
================================================== */
.header {
  position: absolute;
  top: 1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 20;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
}

.header li {
  padding: 0 1vw;
  line-height: 1;
}

.header li:not(:last-child) {
  border-left: 1px solid white;
}

@media (max-width: 1023.98px) {
  .header {
    top: 2.5vw;
  }
  
  .header ul {
    font-size: 3.5vw;
  }
  
  .header li {
    padding: 0 3vw;
  }
}

/* #Content
================================================== */
.content {
  position: absolute;
  top: 32%;
  left: 49%;
  transform: translateX(-50%);
  width: 50%;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@media (max-width: 1023.98px) {
  .content {
    top: 19%;
    left: 50%;
    width: 100%;
  }
}

/* #Page 1
================================================== */
.page-1 h1 {
  font-size: 3vw;
  margin-bottom: 2.5vw;
}

.page-1 h1 br {
  display: none;
}

.page-1 picture,
.page-1 img {
  width: 52vw;
}

@media (max-width: 1023.98px) {
  .page-1 h1 {
    font-size: 9vw;
    margin-bottom: 4vw;
    line-height: 1.2;
  }

  .page-1 h1 br {
    display: block;
  }

  .page-1 picture,
  .page-1 img{
    width: 100%;
  }
}

/* #Page 2
================================================== */
.page-2 {
  top: 26%;
  overflow: hidden;
}

.page-2 h1 {
  font-size: 2.25vw;
  margin-bottom: .25vw;
}

.page-2 .wheel-wrapper {
  position: relative;
  width: 100%;
  margin-top: 3vw;
  padding: 2vw 0;
}

.page-2 .wheel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19.3vw;
}

.page-2 .wheel svg {
  display: none;
}

.page-2 .wheel .circle-menu__circle {
  width: 13vw;
  height: 13vw;
}

.page-2 .wheel .circle-menu__circle__item__inner {
  width: 6.6vw;
  height: 6.6vw;
  background-color: #63bc46;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 1);
  transition: width .3s ease, height .3s ease, padding .3s ease, margin .3s ease;

  font-size: 1vw;
}

.page-2 .wheel .circle-menu__circle__item__inner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2.5vw;
  height: 2.5vw;
  background-image: url('../img/download-icon.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .3s ease;
}

.page-2 .wheel .circle-menu__circle p {
  max-width: 95%;
  max-height: 95%;
  line-height: 1.1;
}

.page-2 .wheel .circle-menu__circle span {
  display: block;
}

.page-2 .wheel .position--top .circle-menu__circle__item__inner {
  width: 8.3vw;
  height: 8.3vw;
  margin-bottom: 1vw;
  padding: 0.85vw;
}

.page-2 .wheel .position--top .circle-menu__circle__item__inner::after {
  opacity: 1;
}

@media (max-width: 1023.98px) {
  .page-2 {
    top: 17%;
  }

  .page-2 h1 {
    font-size: 7vw;
    max-width: 65%;
    line-height: 1.2;
    margin-bottom: 3vw;
  }

  .page-2 .wheel-wrapper {
    margin-top: 6vw;
    padding: 2vw 0;
  }
  
  .page-2 .wheel-center {
    width: 55vw;
  }
  
  .page-2 .wheel .circle-menu__circle {
    width: 40vw;
    height: 40vw;
  }
  
  .page-2 .wheel .circle-menu__circle__item__inner {
    width: 20vw;
    height: 20vw;
    font-size: 3vw;
  }
  
  .page-2 .wheel .position--top .circle-menu__circle__item__inner {
    width: 27vw;
    height: 27vw;
    margin-bottom: 4vw;
    padding: 3.5vw;
  }

  .page-2 .wheel .circle-menu__circle__item__inner::after {
    bottom: 0;
    width: 9vw;
    height: 9vw;
  }
}

/* #Page 3
================================================== */
.page-3 h1 {
  font-size: 2.75vw;
  margin-bottom: 2vw;
}

.page-3 .row {
  display: flex;
  align-items: center;
}

.page-3 .img {
  flex: 0 0 22vw;
}

.page-3 .text {
  flex-grow: 1;
  padding-right: 1.5vw;
}

.page-3 .text > * {
  width: 100%;
}

.page-3 .text input {
  background-color: #38935c;
  color: white;
  border: none;
  height: 5.2vw;
  border-radius: 40px;
  margin: 1vw 0;
  text-align: center;
  padding: 0 1vw;
  font-size: 1.5vw;
  font-weight: 700;
}

.page-3 .text input::placeholder {
  color: white;
}

@media (max-width: 1023.98px) {
  .page-3 {
    width: 92%;
    top: 17%;
  }

  .page-3 h1 {
    font-size: 4.25vw;
  }

  .page-3 .row {
    display: block;
  }

  .page-3 .img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-3 .img img {
    width: 66.666vw;
  }

  .page-3 .text {
    padding-right: 0;
  }

  .page-3 .text input {
    height: 18.75vw;
    border-radius: 20px;
    margin: 3.65vw 0;
    padding: 0 2vw;
    font-size: 6vw;
  }
}

/* #Page 4
================================================== */
.page-4 h1 {
  font-size: 2.7vw;
  margin-bottom: 2vw;
}

.page-4 h1 br {
  display: none;
}

.page-4 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-4 input[type="text"] {
  width: 32.3vw;
  height: 3.65vw;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: #082a0f;
  text-align: center;
  font-size: 2vw;
  font-weight: 700;
  padding: 0 1vw;
}

.page-4 input[type="text"]::placeholder {
  color: #082a0f;
}

.page-4 .form-group:not(:last-child) {
  margin-bottom: 1.3vw;
}

.page-4 .checkbox {
  min-width: 22vw;
  font-size: 1.6vw;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 1.5vw;
}

.page-4 .btn {
  margin-top: 2vw;
  min-width: 27.6vw;
}

@media (max-width: 1023.98px) {
  .page-4 h1 {
    font-size: 9vw;
    margin-bottom: 12.5vw;
    line-height: 1.2;
  }
  
  .page-4 h1 br {
    display: block;
  }

  .page-4 input[type="text"] {
    width: 83.1vw;
    height: 9.35vw;
    border-radius: 5px;
    font-size: 6vw;
    padding: 0 2vw;
  }

  .page-4 .form-group:not(:last-child) {
    margin-bottom: 2.6vw;
  }

  .page-4 .checkbox {
    min-width: 22vw;
    font-size: 5vw;
    margin-top: 6.77vw;
  }

  .page-4 .btn {
    margin-top: 15.6vw;
    min-width: 93.75vw;
  }
}

/* #Page 5
================================================== */
.page-5 h1 {
  font-size: 3vw;
  margin-bottom: 1.5vw;
}

.page-5 h2 {
  font-size: 2.4vw;
  line-height: 1.2;
  margin: 1.5vw 0;
}

.page-5 .btn {
  width: 27.6vw;
}

.page-5 .circle-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-5 .circle-images li:not(:last-child) {
  margin-left: 1.5vw;
}

.page-5 .circle-images img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 2px 3px 11.31px 1.69px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1023.98px) {
  .page-5 h1 {
    font-size: 9vw;
    margin-bottom: 15vw;
  }

  .page-5 h2 {
    font-size: 7vw;
    line-height: 1.2;
    margin: 15vw 0 25vw 0;
  }

  .page-5 .btn {
    width: 95vw;
  }

  .page-5 .circle-images li:not(:last-child) {
    margin-left: 2.8vw;
  }
  
  .page-5 .circle-images img {
    width: 19.7vw;
    height: 19.7vw;
  }
}

/* #Page 5
================================================== */
.page-6 h1 {
  font-size: 3vw;
  margin-bottom: 1.5vw;
}

.page-6 h2 {
  font-size: 2.4vw;
  line-height: 1.2;
  margin: 1.5vw 0;
}

.page-6 .btn {
  width: 27.6vw;
}

.page-6 .circle-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-6 .circle-images li:not(:last-child) {
  margin-left: 1.5vw;
}

.page-6 .circle-images img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  box-shadow: 2px 3px 11.31px 1.69px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1023.98px) {
  .page-6 h1 {
    font-size: 9vw;
    margin-bottom: 15vw;
    max-width: 65%;
    line-height: 1.2;
  }

  .page-6 h2 {
    font-size: 7vw;
    line-height: 1.2;
    margin: 15vw 0 15vw 0;
  }

  .page-6 .btn {
    width: 95vw;
  }

  .page-6 .circle-images li:not(:last-child) {
    margin-left: 2.8vw;
  }
  
  .page-6 .circle-images img {
    width: 19.7vw;
    height: 19.7vw;
  }
}